<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="title">
                            <i [routerLink]="['/ventas']" id="back" class="material-icons">arrow_back_ios</i>
                            <h2>Nueva venta</h2>
                        </div>


                        <div [formGroup]="salesForm">
                            <!-- RECIPE DATA -->
                            <div class="row recipe-row pt-4">
                                <div class="col-2">
                                    <mat-form-field class="example-full-width">
                                        <input 
                                        type="number" 
                                        matInput placeholder="Venta N°" 
                                        formControlName="saleNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="example-full-width">
                                        <input 
                                        type="date" 
                                        matInput 
                                        placeholder="Fecha"
                                        formControlName="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Forma de pago</mat-label>
                                            <mat-select formControlName="payMethod">
                                              <mat-option *ngFor="let methodPay of PayMethods" [value]="methodPay.id">
                                                {{ methodPay.value }}
                                              </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="example-full-width">
                                        <input 
                                        matInput 
                                        placeholder="Días"
                                        formControlName="days">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" formControlName="print">
                                            Imprimir factura
                                            <span class="form-check-sign">
                                                <span class="check text-info"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /RECIPE DATA -->

                            <!-- CLIENT DATA -->
                            <div class="row recipe-row mt-2">
                                <div class="col-10">

                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                type="number" 
                                                matInput 
                                                placeholder="Cliente N°"
                                                formControlName="clientNo"
                                                #clientNumber
                                                >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                type="text" 
                                                matInput 
                                                placeholder="Cliente"
                                                formControlName="clientName">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                type="tel" 
                                                matInput 
                                                placeholder="Teléfono"
                                                formControlName="phone">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                type="text" 
                                                matInput 
                                                placeholder="Dirección"
                                                formControlName="address">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3">
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                type="number" 
                                                matInput 
                                                placeholder="Cupo"
                                                formControlName="cupo">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3">
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                type="number" 
                                                matInput 
                                                placeholder="Precio venta"
                                                formControlName="price">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-info btn-sm" (click)="searchClient(clientNumber.value)">Buscar</button>
                                </div>
                            </div>
                            <!-- /CLIENT DATA -->

                            <!-- PRODUCT DATA -->
                            <div class="row recipe-row mt-2">

                                <div class="row p-3">
                                    <div class="col-2">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Código">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="example-full-width">
                                            <input type="text" matInput placeholder="Nombre articulo">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Cant">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Precio">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Valor total">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row p-3">
                                    <div class="col-2">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="% Desc">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Valor Desc">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Precio Min">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Existe">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-info btn-sm">Agregar Producto</button>
                                    </div>
                                </div>

                            </div>
                            <!-- /PRODUCT DATA -->
                        </div>

                        <!-- PRODUCTS TABLE -->
                        <div class="table-responsive mt-3">
                            <table class="table text-center">
                                <thead class="text-info">
                                    <th>Código</th>
                                    <th>Artículo</th>
                                    <th>Cant</th>
                                    <th>Precio</th>
                                    <th>SubTotal</th>
                                    <th>Descuento</th>
                                    <th>Opts</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of Products">
                                        <td>{{ product?.code }}</td>
                                        <td>{{ product?.item }}</td>
                                        <td>{{ product?.quantity }}</td>
                                        <td>{{ product?.price }}</td>
                                        <td>{{ product?.subTotal }}</td>
                                        <td>{{ product?.discount }}</td>
                                        <td>
                                            <button class="btn btn-warning btn-sm">Editar</button>
                                            <button class="btn btn-danger btn-sm">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /PRODUCTS TABLE -->

                        <div class="row">
                            <div class="col-12" style="display: flex; justify-content: start; align-items:flex-start;">
                                <button class="btn btn-info" (click)="saveRecipe()">Guardar factura</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>